flask
gunicorn

# OCR
pytesseract
opencv-python-headless
Pillow

# ML
numpy
scikit-learn
xgboost
joblib

# NLP / preprocessing
emoji

# PDF
pdfplumber
PyPDF2

# embeddings (VERY IMPORTANT)
transformers
torch